 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, my name is Steven Milanese and I'm a Freelance Web Developer. I have over fifteen years of industry experiance, and have been a part of design and development projects for many exceptional companies during those years, including <a href="https://tess.global" style="color:#cfe7fe";>Tactful Elite Security Solutions</a>, <a href="tradewind.builders" style="color:#cfe7fe";>Trade Wind Builders</a>, <a href="poolcare.services" style="color:#cfe7fe";>Island Leisure</a> and many others.</p>
                </div>
                <div class="col-lg-4">
                    <p>I specialize in standards based HTML, CSS, JavaScript and PHP web development. Each site I develop is built to be search engine friendly, using the latest development principles and techniques. To find out more about what I can do for you, check out my work below, or get a hold of me by filling out the form below or by phone at 321-474-1021.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://stevenmilanese.com/stevenmilanese.vcf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download vCard
                    </a>
                </div>
            </div>
        </div>
    </section>
